.movies-card-list {
  padding: 80px 70px 80px 70px;
}

.movies-card-list__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 58px 30px;
  position: relative;
}

.movies-card-list__more-movies-button {
  margin: 75px 0 0 0;
  width: 100%;
  height: 36px;
  border-radius: 6px;
  background-color: #2f2f2f;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #fff;
}

.movies-card-list__more-movies-button:hover {
  opacity: 0.8;
  transition: ease 0.3s;
}

.movies-card-list__message {
  margin: 0;
  padding-top: 80px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .movies-card-list__grid {
    gap: 47px 30px;
  }
}

@media screen and (max-width: 960px) {
  .movies-card-list__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .movies-card-list__grid {
    grid-template-columns: 1fr;
    gap: 39px;
  }
}

@media screen and (max-width: 840px) {
  .movies-card-list {
    padding: 80px 30px 80px 30px;
  }
}

@media screen and (max-width: 840px) {
  .movies-card-list__more-movies-button {
    margin: 60px 0 0 0;
  }
}

@media screen and (max-width: 510px) {
  .movies-card-list {
    padding: 50px 10px 80px 10px;
  }
}
