.portfolio {
    display: flex;
    flex-direction: column;
    padding: 100px 70px 125px 70px;
}

.portfolio__section-title {
    margin: 0;
    padding: 0 0 50px 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #8B8B8B;
}

.portfolio__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.portfolio__link-container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none; 
}

.portfolio__link-container:hover {
    opacity: 0.7;
    transition: ease .3s;
}

.portfolio__link-text {
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
}

.portfolio__link-icon {
    width: 29px;
    height: 60px;
}

.portfolio__line {
    margin: 20px 0 20px 0;
    height: 1px;
    background-color: #424242;
}

@media screen and (max-width: 840px) {
    .portfolio {
        padding: 90px 50px 90px 50px;
    }
}

@media screen and (max-width: 840px) {
    .portfolio__link-text {
        font-size: 28px;
    }
}

@media screen and (max-width: 840px) {
    .portfolio__link-icon {
        width: 27px;
    }
}

@media screen and (max-width: 840px) {
    .portfolio__line {
        background-color: #DADADA;
    }
}

@media screen and (max-width: 510px) {
    .portfolio {
        padding: 69px 14px 70px 14px;
    }
}

@media screen and (max-width: 510px) {
    .portfolio__section-title {
        font-size: 14px;
        line-height: 20px;
        padding: 0 0 40px 0;
    }
}

@media screen and (max-width: 510px) {
    .portfolio__link-text {
        font-size: 18px;
        line-height: 28px;
    }
}

@media screen and (max-width: 510px) {
    .portfolio__link-icon {
        width: 18px;
        height: 28px;
    }
}
