.root {
  position: fixed;
  z-index: 1;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  z-index: 2;
}

.blurOpened {
  visibility: visible;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.mobileMenuContainer {
  padding: 144px 10px 55px 10px;
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-sizing: border-box;
  z-index: 3;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.mobileMenuContainerOpened {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.mobileMenu {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileMenuLink {
  margin: 0 0 24px 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
  color: #fff;

  &:last-of-type {
    margin: 0;
  }
}

.mobileMenuLinkActive {
  padding: 0 0 7px 0;
  border-bottom: 2px solid #fff;
}

.profileContainerLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.userData {
  margin: 0 17px 0 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
}

.userIcon {
  width: 26px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313131;
  background-image: url(../../images/user-profile-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.moviesContainer {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    display: none;
  }
}

.moviesLink {
  margin: 0 16px 0 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  color: #fff;

  &:hover {
    opacity: 0.7;
    transition: ease 0.3s;
  }

  &:last-of-type {
    margin: 0;
  }
}

.moviesLinkActive {
  font-weight: 500;
}

// @media (max-width: 510px) {
//   .menu-burger-container_type_in-menu-mobile {
//     top: 24px;
//     right: 14px;
//   }
// }
