.about-me {
    display: flex;
    flex-direction: column;
    padding: 110px 70px 0 70px;
}

.about-me__section-title {
    margin: 0;
    padding: 0 0 23px 0;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    color: #fff;
}

.about-me__content-container {
    margin: 66px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.about-me__text-container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.about-me__name {
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    color: #fff;
}

.about-me__profession {
    margin: 18px 0 0 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
}

.about-me__description {
    margin: 26px 0 0 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
}

.about-me__links-container {
    margin: 99px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.about-me__link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-decoration: none;
    color: #fff;
}

.about-me__link:hover {
    opacity: 0.7;
    transition: ease .3s;
}

.about-me__photo {
    width: 270px;
    height: 327px;
    border-radius: 10px;
    object-fit: cover;
}

@media screen and (max-width: 1020px) {
    .about-me__text-container {
        max-width: 420px;
    }
}

@media screen and (max-width: 840px) {
    .about-me {
        padding: 90px 50px 0 50px;
    }
}

@media screen and (max-width: 840px) {
    .about-me__text-container {
        max-width: 364px;
    }
}

@media screen and (max-width: 840px) {
    .about-me__name {
        font-size: 40px;
        line-height: 40px;
    }
}

@media screen and (max-width: 840px) {
    .about-me__profession {
        margin: 16px 0 0 0;
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 840px) {
    .about-me__description {
        margin: 20px 0 0 0;
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 840px) {
    .about-me__links-container {
        margin: 87px 0 0 0;
        gap: 20px;
    }
}

@media screen and (max-width: 840px) {
    .about-me__photo {
        width: 255px;
        height: 307px; 
    }
}

@media screen and (max-width: 730px) {
    .about-me__text-container {
        max-width: 280px;
    }
}

@media screen and (max-width: 650px) {
    .about-me__text-container {
        max-width: 240px;
    }
}

@media screen and (max-width: 600px) {
    .about-me__content-container {
        margin: 60px 0 0 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .about-me__text-container {
        margin: 40px 0 0 0;
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .about-me__photo {
        width: 100%;
        min-height: 352px;
    }
}

@media screen and (max-width: 510px) {
    .about-me {
        padding: 70px 14px 0 14px;
    }
    
}

@media screen and (max-width: 510px) {
    .about-me__section-title {
        font-size: 18px;
        line-height: 22px;
        padding: 0 0 28px 0;
    }
}

@media screen and (max-width: 510px) {
    .about-me__name {
        font-size: 30px;
        line-height: 36px;
    }
}

@media screen and (max-width: 510px) {
    .about-me__profession {
        margin: 20px 0 0 0;
        font-size: 11px;
        line-height: 16px;
    }
}

@media screen and (max-width: 510px) {
    .about-me__description {
        font-size: 11px;
        line-height: 16px;
    }
}

@media screen and (max-width: 510px) {
    .about-me__links-container {
        margin: 40px 0 0 0;
        gap: 26px;
    }
}
