.nav-tab {
  margin: 0;
  display: flex;
}

.nav-tab__link {
  margin: 0 10px 0 0;
  width: 96px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303030;
  border-radius: 10px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.nav-tab__link:hover {
  opacity: 0.7;
  transition: ease 0.3s;
}

.nav-tab__link:last-of-type {
  margin: 0;
}

@media screen and (max-width: 510px) {
  .nav-tab__link {
    margin: 0 6px 0 0;
  }
}

@media screen and (max-width: 510px) {
  .nav-tab__link {
    width: 82px;
    height: 26px;
    border-radius: 6px;
    font-size: 10px;
  }
}
