.nav-tab {
    margin: 151px 0 0 0;
    display: flex;
    gap: 10px;
}

.nav-tab__link {
    width: 96px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    border-radius: 10px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    color: #fff;
    text-decoration: none;  
}

@media screen and (max-width: 840px) {
    .nav-tab {
        margin-top: 314px;
    }
}

@media screen and (max-width: 510px) {
    .nav-tab {
        margin-top: 212px;
        gap: 6px;
    }
}

@media screen and (max-width: 510px) {
    .nav-tab__link {
        width: 82px;
        height: 26px;
        font-size: 10px;
        border-radius: 6px;
    }
}
